
<div class="page-content"><div class="page-wrapper">
	<section id="section-about" class="section appear clearfix">
		<div class="container">
			<div class="row mar-bot40">
				<div class="col-md-offset-3 col-md-6">
					<div class="section-header">
						<h2 class="section-heading animated" data-animation="bounceInUp">DreamWorth</h2>
						<p>DreamWorth Private Limited is a pioneering business that specializes in supplying eco-friendly commodities to African and global markets. Our products are sourced both locally (Zimbabwe), and internationally. Through extensive research and keen market insights we are able to identify products that have the best fit for the target markets in Africa and beyond. DreamWorth aims to penetrate different sectors of its target markets with innovative, first to market and superior goods.</p>
						<p>DreamWorth Private Limited has been in operation since 2011.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
		<section id="section-about" class="section appear clearfix vision">
		<div class="container">
			<div class="row mar-bot40">
				<div class="col-md-offset-3 col-md-6">
					<div class="section-header">
						<h2 class="section-heading animated" data-animation="bounceInUp">Vision</h2>
						<p>To spearhead the supply of inventive, high quality and eco-friendly merchandise to African markets and beyond. </p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="section-about" class="section appear clearfix mission">
		<div class="container">
			<div class="row mar-bot40">
				<div class="col-md-offset-3 col-md-6">
					<div class="section-header">
						<h2 class="section-heading animated" data-animation="bounceInUp">Mission</h2>
						<p>To induce a paradigm shift and inspire a culture of eco-friendliness through unique products, close customer contact and excellent relationships.</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- about -->
	<section id="section-about" class="section appear clearfix values">
	<div class="container">

			<div class="row mar-bot40">
				<div class="col-md-offset-3 col-md-6">
					<div class="section-header">
						<h2 class="section-heading animated" data-animation="bounceInUp">Values</h2>
						
					</div>
				</div>
			</div>

				<div class="row align-center mar-bot40">
					<div class="col-md-3">
						<div class="team-member">
							
							<div class="team-detail">
								<h4>Professionalism</h4>
								<span>To build long-term, professional relationships with all stakeholders.</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="team-member">
							
							<div class="team-detail">
								<h4>Distinctiveness</h4>
								<span>To break traditional market barriers (breaking through the "usual" market forces and conventional way of doing business). </span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="team-member">
							
							<div class="team-detail">
							<h4>Integrity</h4>
								<span>To be a dependable and trusted business partner.</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="team-member">
							
							<div class="team-detail">
							<h4>Client Focus</h4>
								<span>To provide tailor-made products to meet specific customer needs.</span>

							</div>
						</div>
					</div>
				</div>
					
	</div>
	</section>

			
<!-- about -->
<section id="section-about" class="section appear clearfix team">
<div class="container">

		<div class="row mar-bot40">
			<div class="col-md-offset-3 col-md-6">
				<div class="section-header">
					<h2 class="section-heading animated" data-animation="bounceInUp">The Dream Team</h2>
					
				</div>
			</div>
		</div>

			<div class="row align-center mar-bot40">
				<div class="col-md-3">
					<div class="team-member">
						
						<div class="team-detail">
							<h4>Director| Kudzaishe E. Mutsaka</h4>
							<span>Master of Science in Clinical Biochemistry University of Zimbabwe</span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="team-member">
						
						<div class="team-detail">
							<h4>Director| Brian Mataruka</h4>
							<span>Bachelor of Laws Honours Degree University of Zimbabwe </span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="team-member">
						
						<div class="team-detail">
						<h4>Finance| Steven Alphine</h4>
							<span>Bachelor of Commerce Deakin University</span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="team-member">
						
						<div class="team-detail">
						<h4>Managing Director| Munya Dzumbira</h4>
							<span>Bachelor of Business &amp; Commerce</span>
							<span>Marketing and Management (Honors) Monash University, Australia</span>
						</div>
					</div>
				</div>
			</div>
				
</div>
</section>
		<!-- /about -->

</div>
</div>
	  
	
