<div class="page-wrapper">
		<h1> Client list</h1>
	

	<div class="catalogue"> 

	<!-- ROW 1 -->
	<div class="row">
		<div class="col-md-4">	
			<a href="images/b.jpg?theme=metro" class="speedo-popup">
	   		 	<img src="images/b.jpg" width="150" height="100" alt="">
				<li> Afrasia Kingdom Bank.</li>
			</a>
		</div>

		<div class="col-md-4">
			<a href="images/b.jpg?theme=metro" class="speedo-popup">
			    <img src="images/b.jpg" width="150" height="100" alt="">
				<li> Cancer Association of Zimbabwe.</li>
				</a>
		</div>

		<div class="col-md-4">
			<a href="images/b.jpg?theme=metro" class="speedo-popup">
			    <img src="images/b.jpg" width="150" height="100" alt="">
				<li> Covenant Women Ministries.</li>
				</a>
		</div>	
	</div>	

	<!-- ROW 2 -->

	<div class="row">

		<div class="col-md-4">
				<a href="images/b.jpg?theme=metro" class="speedo-popup">
				    <img src="images/b.jpg" width="150" height="100" alt="">
					<li> IDA Zimbabwe.</li>
					</a>
		</div>

		<div class="col-md-4">
			<a href="images/b.jpg?theme=metro" class="speedo-popup">
			    <img src="images/b.jpg" width="150" height="100" alt="">
				<li> The United Methodist Church of Zimbabwe.</li>
				</a>
		</div>
		
		<div class="col-md-4">	
			<a href="images/f.jpg?theme=metro" class="speedo-popup">
			    <img src="images/f.jpg" width="150" height="100" alt="">
				<li> TOPS Liquor.</li>
				</a>
		</div>
	</div>
	<!-- ROW 3 -->

	<div class="row">
		<div class="col-md-4">
			<a href="images/b.jpg?theme=metro" class="speedo-popup">
			    <img src="images/b.jpg" width="150" height="100" alt="">
				<li> Spar Corporate Group.</li>
				</a>
		</div>

		<div class="col-md-4">
			<a href="images/b.jpg?theme=metro" class="speedo-popup">
			    <img src="images/b.jpg" width="150" height="100" alt="">
				<li> Heartfelt International Ministries.</li>
				</a>
		</div>
		<div class="col-md-4">
			<a href="images/b.jpg?theme=metro" class="speedo-popup">
		    <img src="images/b.jpg" width="150" height="100" alt="">
			<li> Nguni &amp; Ngwenya.</li>
			</a>
		</div>	
		

	</div>

	<!-- ROW 4 -->

	<div class="row">
		<div class="col-md-4">
			<a href="images/b.jpg?theme=metro" class="speedo-popup">
		    <img src="images/b.jpg" width="150" height="100" alt="">
			<li> Phoebe's Made with Love.</li>
			</a>
		</div>

		<div class="col-md-4">
			<a href="images/b.jpg?theme=metro" class="speedo-popup">
		    <img src="images/b.jpg" width="150" height="100" alt="">
			<li> Telecel.</li>
			</a>
		</div>
		<div class="col-md-4">
			<a href="images/b.jpg?theme=metro" class="speedo-popup">
		    <img src="images/b.jpg" width="150" height="100" alt="">
			<li> UNWTO.</li>
			</a>
		</div>	

	</div>

</div>

<h1> Testimonials</h1>

<blockquote class="testimonial">
<p>We recommend DreamWorth Pvt Ltd unreservedly to any organization that may wish to do business with them. Their service and delivery times are professional and of a high standard, something this country could do with more of.
</p>
</blockquote>
<div class="arrow-down"></div>
<p class="testimonial-author">Junior Mavu|<span>Cancer Association of Zimbabwe</span></p>
<br>

<br>
<blockquote class="testimonial">
<p>Dreamworth Private Limited is a registered premier service provider of corporate gifts to AfrAsia Kingdom Zimbabwe Limited. We therefore recommend Dreamworth Pvt Ltd unreservedly to any organization that may wish to do business with them.
</p>
</blockquote>
<div class="arrow-down"></div>
<p class="testimonial-author">Afrasia Kingdom |<span>Zimbabwe Marketing Department</span></p>
<br>

 </div>